@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}


.logomiyaki {
    max-height: 7em;
    margin: 2rem 4rem;
}

.logomiyaki:hover {
    opacity: 50%;
    transition: opacity 800ms linear 100ms;
}

li a {
    font-family: 'Abril Fatface', cursive;
    color: black !important;
    font-size: 1.2em !important;
}

li a:hover {
    color: rgb(77, 158, 198) !important;
    transition: color 800ms ease-in-out 100ms;
}

.imgalex {
  
    border-radius: .6em;
}

section h1 {
    font-family: 'Abril Fatface', cursive;
}

section div {
    width: 55% !important;
}